sudo: required

services:
  - docker

after_script:
  - docker build -t guedou/scapy-python2.5:v0.1 .

language: python

python:
  - 2.6
  - 2.7
  - pypy

install:
  - pip install pycrypto

script:
  - cd test/; for f in *.uts; do ./run_tests -q -F -t $f -K netaccess || exit $?; done; for f in ../scapy/contrib/*.uts ; do ./run_tests -q -F -t $f -K netaccess -P "load_contrib('$(basename ${f/.uts})')" || exit $?; done
